@model Business.Entities.WorkingDaysModel.WorkingDay;
@{
    int month = Model.Month <= 0 ? DateTime.Now.Month : Model.Month;
}
<form class="form-horizontal" role="form" id="formWorkingDays">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="row mb-3">
                <input type="hidden" asp-for="WorkCalendarID" />
                <label class="col-sm-3 col-form-label">Enter Year<span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="number" required="" class="form-control" id="Year" name="Year" asp-for="Year" min="2022" max="2099" step="1" placeholder="2023">
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Select Month<span class="required">*</span></label>
                <div class="col-sm-9">
                    <select class="form-select" id="" asp-for="@month" name="Month" id="Month">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>                         
                    </select>
                </div>
            </div>
            
            <div class="row mb-3">                
                <label class="col-sm-3 col-form-label">Enter Working Days<span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="number" required="" class="form-control" id="WorkingDays" name="WorkingDays" asp-for="WorkingDays" min="1" max="31" step="1" placeholder="26">
                    <span asp-validation-for="WorkingDays" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Enter Holidays<span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="number" required="" class="form-control" id="Holidays" name="Holidays" asp-for="Holidays" min="1" max="31" step="1" placeholder="4">
                    <span asp-validation-for="Holidays" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Status</label>
                <div class="col-sm-9">
                    <input type="checkbox" class="form-check-input" asp-for="IsActive" data-on-text="Yes" data-off-text="No">

                </div>
            </div>

            <div class="modal-footer-sticky text-center">
                <button id="btnSave" type="button" onclick="fnSubmit()" class="btn btn-primary btn-info px-5 ladda-button">Save</button>
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-primary btn-info px-5 my-2">Cancel</button>
            </div>
        </div>
    </div>
</form>
@await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">
    var urlsave = '@Url.Action("AddOrUpdateWorkingDays", "WorkingDays")';
    function fnSubmit() {
        if ($("#formWorkingDays").valid()) {
            var l = laddaStart('btnSave');
            console.log(l);
            modeldata = $("#formWorkingDays").serialize();
            $.ajax({
                type: 'POST',
                url: urlsave,
                data: modeldata,
                dataType: 'json',
                beforeSend: function () { },
                success: function (data) {
                    window.location.reload().delay(3000);
                    if (data.status) {
                        //notification
                        $("#canvas_masterentity2").hide();//('hide');
                        Lobibox.notify('success', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                    }
                    else {
                        Lobibox.notify('error', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                    }
                },
                error: function (error) {
                    laddaStop(l);
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: "@MessageHelper.Error"
                    });
                }
            }).always(function () {
                hideLoader();
            });
        }
    };
</script>