@model Business.Entities.Customer.CustomerDocument
<div class="row">
    <div class="card-content">
        <div class="tab-pane fade active show" id="details" role="tabpanel" aria-labelledby="details-tab">
            <form id="formCustomerDocument" asp-action="AddUpdateCustomerDocument" asp-controller="Customer" asp-area="Admin" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="CustomerID" id="CustomerID" />
                <input type="hidden" asp-for="CustomerDocumentID" id="CustomerDocumentID" />
                <div class=" col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label ">Document Type:<span class="required">*</span></label>
                        <div class="col-sm-9">
                            <select asp-for="DocumentTypeID" asp-items="@CustomerExtension.GetAllDocumentType()" class="form-control">
                                <option value="">--Select--</option>
                            </select>
                            <span asp-validation-for="DocumentTypeID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="" class="col-sm-3 col-form-label ">Document Name:<span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" required="" class="form-control" asp-for="DocumentName" id="DocumentName" name="DocumentName" placeholder="">
                            <span asp-validation-for="DocumentName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="" class="col-sm-3 col-form-label ">Document description:</label>
                        <div class="col-sm-9">
                            <textarea required="" class="form-control" rows="4" cols="50" asp-for="DocumentDescription" placeholder=""></textarea>
                            @*<span asp-validation-for="Description" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="DocumentFile" class="col-sm-3 col-form-label ">Upload document:<span class="required">*</span></label>
                        @if (Model != null && !string.IsNullOrEmpty(Model.DocumentPath))
                        {
                            <div class="col-sm-9">
                                <input asp-for="DocumentFile" type="file" class="form-control" name="documentfile" id="documentFile" src="@Model.DocumentPath" onchange="loadFile(event)" />
                                <span asp-validation-for="DocumentFile" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-9">
                                <input asp-for="DocumentFile" type="file" class="form-control" name="documentfile" id="documentFile" onchange="loadFile(event)" />
                                <span asp-validation-for="DocumentFile" class="text-danger"></span>
                            </div>
                        }
                    </div>
                    <div class="row mb-3">
                        <label for="" class="col-sm-3 col-form-label ">IsActive:</label>
                        <div class="col-sm-9">
                            <input type="checkbox" class="form-check-input" asp-for="IsActive">
                            @*<span asp-validation-for="DocumentFile" class="text-danger"></span>*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer-sticky text-center">
                    <button type="submit" class="btn btn-primary btn-info px-5 ladda-button" id="btnSaveDocument" href="/Admin/Customer/AddUpdateCustomer/id=@Model.CustomerID">Save</button>
                    <button type="button" class="btn btn-primary btn-info px-5 ladda-button" data-bs-dismiss="offcanvas" aria-l abel="Close">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>