@model Business.Entities.Contractor.LeadBankDetails
<div class="row">
    <div class="card-content">
        <div class="tab-pane fade active show" id="details" role="tabpanel" aria-labelledby="details-tab">
            <form id="formContractorBankAccount" asp-action="AddUpdateContractorBankAccount" asp-controller="Contractor" asp-area="Admin" method="post" class="row g-3">
                <input type="hidden" asp-for="ContractorID" />
                <input type="hidden" asp-for="ContractorBankDetailsID" />
                <div class=" col-sm-12 col-md-6 col-lg-6">

                    <div class="row mb-3">
                        <label for="" class="col-sm-3 col-form-label ">Bank Name:<span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" required="" class="form-control" id="BankName" asp-for="BankName" name="BankName" placeholder="">
                            <span asp-validation-for="BankName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="" class="col-sm-3 col-form-label ">Account Name:<span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" required="" class="form-control" asp-for="AccountName" id="AccountName" name="AccountName" placeholder="">
                            <span asp-validation-for="AccountName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="" class="col-sm-3 col-form-label ">IFSC Code:<span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" required="" class="form-control" asp-for="IFSCCode" id="IFSCCode" name="IFSCCode" placeholder="">
                            <span asp-validation-for="IFSCCode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="" class="col-sm-3 col-form-label ">Is Default Bank Account:</label>
                        <div class="col-sm-9">
                            <input type="checkbox" class="form-check-input" asp-for="IsDefaultBankAccount">
                            @*<span asp-validation-for="PersonalEmail" class="text-danger"></span>*@
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="" class="col-sm-3 col-form-label ">Account no:<span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" required="" class="form-control" asp-for="AccountNO" id="AccountNO" name="AccountNO" placeholder="">
                            <span asp-validation-for="AccountNO" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="" class="col-sm-3 col-form-label ">Branch Location:<span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" required="" class="form-control" asp-for="BranchLocation" id="BranchLocation" name="BranchLocation" placeholder="">
                            <span asp-validation-for="BranchLocation" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6">

                    <div class="row mb-3">
                        <label for="" class="col-sm-3 col-form-label ">City:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" asp-for="City" id="City" name="City" placeholder="">
                            @*<span asp-validation-for="PersonalEmail" class="text-danger"></span>*@
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="" class="col-sm-3 col-form-label ">Is Active:</label>
                        <div class="col-sm-9">
                            <input type="checkbox" class="form-check-input" asp-for="IsActive">
                            @*<span asp-validation-for="OfficeEmail" class="text-danger"></span>*@
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="" class="col-sm-3 col-form-label ">Bank Code:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" asp-for="BankCode" id="BankCode" name="BankCode" placeholder="">
                            @*<span asp-validation-for="OfficeEmail" class="text-danger"></span>*@
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="" class="col-sm-3 col-form-label ">BIC Swift Code:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" asp-for="BICSwiftCode" id="BICSwiftCode" name="BICSwiftCode" placeholder="">
                            @*<span asp-validation-for="OfficeEmail" class="text-danger"></span>*@
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="" class="col-sm-3 col-form-label ">Country:</label>
                        <div class="col-sm-9">
                            <select asp-for="CountryID" asp-items="@SuperCompanyDropdownBinder.Countries()" class="form-control">
                                <option value="">Select Country</option>
                            </select>
                            @*<span asp-validation-for="PersonalEmail" class="text-danger"></span>*@
                        </div>
                    </div>
                </div>

                <div class="modal-footer-sticky text-center">
                    <button type="button" onclick="fnSubmitContractorBankAccountDetail()" class="btn btn-primary btn-info px-5 ladda-button" id="btnSave">Save</button>
                    <button type="button" class="btn btn-primary btn-info px-5 ladda-button" data-bs-dismiss="offcanvas" aria-l abel="Close">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<link href="~/admin/assets/vendors/typehead/jquery.typeahead.min.css" rel="stylesheet" />
<script src="~/admin/assets/vendors/typehead/jquery.typeahead.min.js"></script>
@await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">
    function fnSubmitContractorBankAccountDetail() {
       // alert($("#formContractorBankAccount").valid());
        if ($("#formContractorBankAccount").valid()) {
            var ls = laddaStart('btnSave');
            modeldata = $("#formContractorBankAccount").serialize();
            $.ajax({
                type: 'POST',
                url: '/Admin/Contractor/AddUpdateContractorBankAccount/',
                data: modeldata,
                dataType: 'json',
                beforeSend: function () { },
                success: function (data) {
                    console.log(data.status);
                    if (data.status) {
                        //notification
                        $("#canvasContractorBankAccount").hide();//('hide');
                        var test = Lobibox.notify('success', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message,
                        });
                        $("#tblContractorBankAccounts").load(window.location.href + " #tblContractorBankAccounts");
                    }
                    else {
                        Lobibox.notify('error', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: '@MessageHelper.Error'
                        });
                    }
                },
                error: function (error) {
                    laddaStop(ls);
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: '@MessageHelper.Error'
                    });
                }
            }).always(function () {
                hideloader();
            });
        }
    };
</script>