@model Business.Entities.Master.EmployementType.EmploymentType;
<form class="form-horizontal" role="form" id="formEmployementType">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="row mb-3">
                <input type="hidden" asp-for="EmploymentTypeID" />
                <label class="col-sm-3 col-form-label">Employment Type Name<span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="text" required="" class="form-control" id="EmploymentTypeText" name="EmploymentTypeText" asp-for="EmploymentTypeText">
                    <span asp-validation-for="EmploymentTypeText" class="text-danger"></span>
                </div>
            </div>

            @*<div class="row mb-3">
            <label class="col-sm-3 col-form-label"><span class="required">*</span></label>
            <div class="col-sm-9">
            <input type="text" required="" class="form-control" id="" name="" asp-for="">
            <span asp-validation-for="" class="text-danger"></span>
            </div>
            </div>*@

            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Employment Type Status</label>
                <div class="col-sm-9">
                    <input type="checkbox" class="form-check-input" asp-for="IsActive" data-on-text="Yes" data-off-text="No">

                </div>
            </div>

            <div class="modal-footer-sticky text-center">
                <button id="btnSave" type="button" onclick="fnSubmit()" class="btn btn-primary btn-info px-5 ladda-button">Save</button>
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-primary btn-info px-5 my-2">Cancel</button>
            </div>
        </div>
    </div>
</form>
@await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">
    var urlsave = '@Url.Action("InsertOrUpdateEmployementType", "EmployementType")';
    function fnSubmit() {
        if ($("#formEmployementType").valid()) {
            var l = laddaStart('btnSave');
            console.log(l);
            modeldata = $("#formEmployementType").serialize();
            $.ajax({
                type: 'POST',
                url: urlsave,
                data: modeldata,
                dataType: 'json',
                beforeSend: function () { },
                success: function (data) {
                    if (data.status) {
                        //notification
                        $("#canvas_masterentity2").hide();//('hide');
                        Lobibox.notify('success', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                        setTimeout(
                            function(){
                                window.location.reload();
                            },3000);
                    }
                    else {
                        Lobibox.notify('error', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                    }
                },
                error: function (error) {
                    laddaStop(l);
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: "@MessageHelper.Error"
                    });
                }
            }).always(function () {
                hideLoader();
            });
        }
    };
</script>